/*
===============
Product results
===============
*/

.resultsSection {
  margin: 82px auto 0;
}

.resultsSectionBreadcrum {
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  margin: 0 auto;
  max-width: 885px;
  padding: 12px 16px;
}

.resultsSectionBreadcrum span {
  color: rgba(0, 0, 0, 0.5);
}

.resultsSectionBreadcrum span a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  margin: 0;
  position: relative;
  transition: color .2s ease-in-out;
}

.resultsSectionBreadcrum span a:hover {
  color: rgb(0, 0, 0, 0.7);
}

.resultsSectionArticle {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin: 0 auto 16px;
  max-width: 885px;
}

.resultsSectionArticleProduct {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0, .12);
  color: black;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 400px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.resultsSectionArticleProduct:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .1);
}

.resultsSectionArticleProduct img {
  border-bottom: 1px solid #e5e5e5;
  height: 170px;
  min-height: 138px;
  object-fit: none;
  padding-bottom: 15px;
  width: 100%;
}

.resultsSectionArticleProductContainer {
  padding: 0 1rem;
}

.resultsSectionArticleProductTitle {
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 10px 0;
}

.resultsSectionArticleProductPrice {
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}

.resultsSectionArticleProductCondition {
  color: #3483fa;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize;
}

.resultsSectionArticleProductQuantity {
  font-size: 14px;
  margin: 5px 0 0;
  opacity: .7;
}