:root {
  background-color: rgb(235, 235, 235);
  color: black;
  color-scheme: light;
}

body {
  margin: 0;
  box-sizing: border-box;
}

main {
  margin: 1rem;
}

.header {
  height: 64px;
  background-color: rgb(255, 241, 89);
  padding: 9px 14px 14px;
  margin: 0 0 82px 0;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 885px;
  min-width: 785px;
  gap: 5px;
}

.logo {
  font-size: 20px;
  text-decoration: none;
  color: rgb(113 63 18);
}

.logo:visited {
  color: rgb(113 63 18);
}

.field {
  color: #333;
  background-color: #fff;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 580px;
  height: 32px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  flex: 1;
}

.field:focus-within {
  outline: 1.5px solid #3438fa;
}

.field input {
  background-color: #fff;
  color: rgb(34, 34, 34);
  outline: 0;
  border: none;
  height: 95%;
  flex: 1;
  padding: 0 14px;
  font-size: 16px;
}

.field input::placeholder {
  color: rgb(186, 186, 186);
}

.field button {
  border: none;
  border-left: 1px solid rgb(186, 186, 186);
  background-color: #fff;
  color: rgb(186, 186, 186);
  outline: 0;
  font-weight: 700;
  padding: 0;
}

.field button:hover {
  cursor: pointer;
}

.field button svg {
  color: rgb(102, 102, 102);
}

article {
  display: grid;
  gap: 1rem;
  background-color: white;
  border-radius: 4px;
  width: 885px;
  margin: 0 auto;
}

.breadcrum {
  display: block;
  margin: 0 auto;
  width: 885px;
  padding: 12px 16px;
  font-size: 14px;
  box-sizing: border-box;
}

.breadcrum span {
  color: rgba(0, 0, 0, 0.5);
}

.breadcrum span a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  margin: 0;
  position: relative;
  transition: color .2s ease-in-out;
}

.breadcrum span a:hover {
  color: rgb(0, 0, 0, 0.7);
}

.product {
  display: flex;
  gap: 16px;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid rgb(235, 235, 235);
  padding: 1rem;
}

.productCondition {
  margin: 0;
  color: rgba(0, 0, 0, .55);
  font-size: 14px;
  font-weight: 400;
  white-space: pre-wrap;
  margin-bottom: 8px;
}

.productCondition span {
  text-transform: capitalize;
}

.productTitle {
  color: #333;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
  font-family: "Proxima Nova", sans-serif;
  margin: 0 0 10px 0;
}

.productPrice {
  margin: 0;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
}

.productDescription {
  margin: 0;
  color: rgba(0, 0, 0, .55);
  font-size: 14px;
  font-weight: 400;
  white-space: pre-wrap;
  margin-bottom: 8px;
}

.productLocation {
  margin-left: auto;
  font-size: 0.875rem;
  opacity: 0.5;
  text-transform: capitalize;
}

section {
  max-width: 1184px;
  margin: 0 auto;
}

.containerHeader {
  background-color: rgb(235, 235, 235);
  padding: 12px 16px;
  font-size: 14px;
  border-radius: 4px 4px 0 0;
}

.containerHeader a {
  color: rgba(0, 0, 0, .7);
  margin: 0;
  position: relative;
  text-decoration: none;
  transition: color .2s ease-in-out;
}

.containerHeader a:hover {
  color: #3483fa;
}

.containerHeader a::after {
  content: "";
  font-size: 8px;
  margin: 13px;
  border-right: 1px solid rgba(0, 0, 0, .2);
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  background-color: white;
  border-radius: 4px;
  margin: 0 auto;
}

.container figure {
  display: flex;
  justify-content: center;
  width: 700px;
  height: 500px;
  position: sticky;
  top: 0;
  left: 0;
  margin-top: 24px;
  padding: 16px;
  cursor: zoom-in;
}

.container img {
  object-fit: contain;
  height: auto;
}

.container div {
  max-width: 326px;
  padding: 1rem;
  margin: 20px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 4px;
}