:root {
  background-color: rgb(235, 235, 235);
  color: black;
  color-scheme: light;
}

body {
  margin: 0;
  box-sizing: border-box;
}

main {
  margin: 0;
}

/*
===============
Header
===============
*/

.header {
  background-color: #ff9a00;
  height: 64px;
  padding: 9px 14px 14px;
}

.header-container {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 885px;
  min-width: 785px;
}

.logo {
  color: rgb(113 63 18);
  font-size: 20px;
  text-decoration: none;
}

.logo:visited {
  color: rgb(113 63 18);
}

.field {
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  color: #333;
  display: flex;
  flex: 1;
  height: 32px;
  justify-content: center;
  max-width: 580px;
  padding: 4px;
}

.field:focus-within {
  outline: 1.5px solid #3438fa;
}

.field input {
  background-color: #fff;
  border: none;
  color: rgb(34, 34, 34);
  flex: 1;
  font-size: 16px;
  height: 32px;
  outline: 0;
  padding: 0 14px;
}

.field input::placeholder {
  color: rgb(186, 186, 186);
  font-weight: 200;
}

.field button {
  background-color: #fff;
  border-left: 1px solid rgb(186, 186, 186);
  border: none;
  color: rgb(186, 186, 186);
  font-weight: 700;
  outline: 0;
  padding: 0;
}

.field button:hover {
  cursor: pointer;
}

.field button svg {
  color: rgb(102, 102, 102);
}

.imagesSliderContainer {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  aspect-ratio: 16/9;
}