:root {
  background-color: rgb(235, 235, 235);
  color: black;
  color-scheme: light;
}

body {
  margin: 0;
  box-sizing: border-box;
}

main {
  margin: 1rem;
}

/*
===============
Header
===============
*/

.header {
  background-color: rgb(255, 241, 89);
  height: 64px;
  margin: 0 0 82px 0;
  padding: 9px 14px 14px;
}

.headerContainer {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 885px;
  min-width: 785px;
}

.logo {
  color: rgb(113 63 18);
  font-size: 20px;
  text-decoration: none;
}

.logo:visited {
  color: rgb(113 63 18);
}

.field {
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  color: #333;
  display: flex;
  flex: 1;
  height: 32px;
  justify-content: center;
  max-width: 580px;
  padding: 4px;
}

.field:focus-within {
  outline: 1.5px solid #3438fa;
}

.field input {
  background-color: #fff;
  border: none;
  color: rgb(34, 34, 34);
  flex: 1;
  font-size: 16px;
  height: 32px;
  outline: 0;
  padding: 0 14px;
}

.field input::placeholder {
  color: rgb(186, 186, 186);
  font-weight: 200;
}

.field button {
  background-color: #fff;
  border-left: 1px solid rgb(186, 186, 186);
  border: none;
  color: rgb(186, 186, 186);
  font-weight: 700;
  outline: 0;
  padding: 0;
}

.field button:hover {
  cursor: pointer;
}

.field button svg {
  color: rgb(102, 102, 102);
}

/*
===============
Product results
===============
*/

section {
  margin: 0 auto;
}

.breadcrum {
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  margin: 0 auto;
  padding: 12px 16px;
  width: 885px;
}

.breadcrum span {
  color: rgba(0, 0, 0, 0.5);
}

.breadcrum span a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  margin: 0;
  position: relative;
  transition: color .2s ease-in-out;
}

.breadcrum span a:hover {
  color: rgb(0, 0, 0, 0.7);
}

article {
  background-color: white;
  border-radius: 4px;
  display: grid;
  gap: 1rem;
  margin: 0 auto;
  width: 885px;
}

.product {
  border-bottom: 1px solid rgb(235, 235, 235);
  color: black;
  display: flex;
  gap: 16px;
  padding: 1rem;
  text-decoration: none;
}

.productTitle {
  color: #333;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
  margin: 0 0 10px 0;
}

.productPrice {
  margin: 0;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
}


.productLocation {
  margin-left: auto;
  font-size: 0.875rem;
  opacity: 0.5;
  text-transform: capitalize;
}

/*
===============
Product detail
===============
*/

.container {
  width: 1184px;
}

.containerHeader {
  background-color: rgb(235, 235, 235);
  border-radius: 4px 4px 0 0;
  font-size: 14px;
  padding: 12px 16px;
}

.containerHeader a {
  color: rgba(0, 0, 0, .7);
  margin: 0;
  position: relative;
  text-decoration: none;
  transition: color .2s ease-in-out;
}

.containerHeader a:hover {
  color: #3483fa;
}

.containerHeader a::after {
  border-right: 1px solid rgba(0, 0, 0, .2);
  content: "";
  font-size: 8px;
  margin: 13px;
}

.containerProduct {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  padding: 16px;
  margin: 0 auto;
}

.containerProductInfo {
  align-items: flex-start;
  display: flex;
}

.containerImages {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  justify-content: center;
  margin: 56px auto 0;
  max-width: 700px;
  padding: 16px;
}

.containerImages img {
  aspect-ratio: auto 700 / 500;
  cursor: zoom-in;
  object-fit: contain;
  width: auto;
}

.cardProductInfo {
  border-radius: 4px;
  border: 1px solid rgb(235, 235, 235);
  left: 0;
  margin-left: 48px;
  max-width: 368px;
  width: 368px;
  padding: 16px;
  position: sticky;
  top: 16px;
}

.productCondition {
  color: rgba(0, 0, 0, .55);
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 8px;
  white-space: pre-wrap;
}

.productCondition span {
  text-transform: capitalize;
}

.containerProductTitle,
.containerProductPrice {
  display: flex;
}

.productTitleItem {
  font-weight: 500;
  font-size: 22px;
  margin: 0 28px 8px 0;
  padding: 0;
  flex: 1;
}

.containerProductTitle svg,
.containerProductPrice svg {
  color: #3483fa;
  width: 28px;
  height: 22px;
}

.containerProductTitle svg:hover {
  cursor: pointer;
}

.containerProductPrice svg {
  height: 20px;
  margin: 22px 0 0 8px;
  width: 18px;
}

.productPriceItem {
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  margin: 16px 0 0;
}

.productDescription {
  margin: 10px auto;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  width: 90%;
  padding: 40px 0;
  margin-bottom: 8px;
}

.productDescription p {
  color: #666;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
}

.productDescription h2 {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 24px;
}

.containerInfo {
  max-width: 700px;
  flex: 1;
}

.btnBuy {
  margin-top: 26px;
  width: 100%;
  background-color: #3483fa;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  border-radius: 8px;
  transition: background-color .2s ease-in;
}

.btnBuy:hover {
  background-color: #2968c8;
}